*.a
*.bz2
*.deb
*.def
*.dll
*.exe
*.exp
*.gz
*.idb
*.la
*.lib
*.lo
*.log
*.manifest
*.o
*.obj
*.out
*.swp
*.trs
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
built.*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian
depcomp
gen
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/pkg.m4
missing
package.info
packaging/rpm/mycms.spec
src/libmycms-util/libmycms-util.pc
src/libmycms-util/mycms-util-all.exports
src/libmycms/libmycms.pc
src/libmycms/mycms-all.exports
src/mycms-tool/mycms-tool
stamp-h1
test-driver
test/ca/rootca.pki
test/ca/rootca.vars
test/ca/subca.pki
test/ca/subca.vars
test/ca/vars
versioninfo.rc
